<ion-content>
  <ion-slides pager="true">
    <ion-slide>
      <div class="ion-padding">
        <img src="/assets/img/slide.png" />
        <h2>Help stop the Covid-19 Spreading</h2>
        <p>
          Your phone will help you and others to trace if anyone has been in
          close contact with a Covid-19 case and notify them.
        </p>
      </div>
    </ion-slide>

    <ion-slide>
      <div class="ion-padding">
        <img src="/assets/img/slide.png" />
        <h2>Your Privacy is guaranteed</h2>
        <p>No personal and identifiable data will be shared with anyone.</p>
      </div>
    </ion-slide>

    <ion-slide>
      <img src="/assets/img/slide.png" />
      <div class="ion-padding">
        <h2>Permissions</h2>
        <p>
          For the tracing Bluetooth permission is required and Push
          Notifications to notify you about changes.
        </p>
        <ion-item lines="none">
          <ion-icon slot="start" name="bluetooth"></ion-icon>
          <p class="ion-no-padding">Bluetooth</p>
        </ion-item>
        <ion-item lines="none">
          <ion-icon slot="start" name="notifications-outline"></ion-icon>
          <p class="ion-no-padding">Push Notifications</p>
        </ion-item>
        <p>Select "Yes" for both permissions on the next screen.</p>
      </div>
    </ion-slide>
  </ion-slides>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-row>
      <ion-col>
        <ion-button
          *ngIf="!isLastPage"
          fill="clear"
          color="medium"
          expand="block"
          (click)="finish()"
        >
          Skip</ion-button
        >
      </ion-col>
      <ion-col>
        <ion-button
          *ngIf="!isLastPage"
          fill="clear"
          color="primary"
          expand="block"
          (click)="slideNext()"
        >
          Next</ion-button
        >
        <ion-button
          *ngIf="isLastPage"
          color="primary"
          expand="block"
          (click)="finish()"
        >
          Grant Permissions</ion-button
        >
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>
