<ion-header>
  <ion-toolbar>
    <ion-title>Your contact</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      You were in contact with an infected person at <strong>30th of March</strong> at <strong>11:23</strong>.
      <br /> <br />
      <img src="/assets/img/map.png" />
    </ion-card-content>
  </ion-card>
</ion-content>